<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Flask Test App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>

<body>
    <div>
        <h1>Control Panel</h1>
        <!-- This button sends a POST on refresh if I used the submit button with no redirect. -->
        <button onClick="window.location.reload();">Refresh Page</button>
        <form method="POST">

            <div>
                <p>Temperature: <output id="tempValue">{{sp}}</output> degF</p>
                <input id="tempSlider" name="sp" type="range" min="70" max="80" step="0.5" value="{{sp}}" />

            </div>
            <div>
                <p>Threshold: <output id="threshValue"></output> degF</p>
                <input id="threshSlider" name="threshold" type="range" min="0" max="2" step="0.25"
                    value="{{threshold}}" />
            </div>
            <!-- <label>Timeout (s): </label><input type="number" name="timeout" min="0" max="30" value="31" /> -->
            <div>
                <label for="horns">Enabled:</label>
                <input type="checkbox" id="enabled" name="http_enabled" value="on" {{http_enabled}} />
            </div>
            <input type="submit" />
        </form>
        <p>Current Temp: {{'%0.2f'|format(current_temp)}} degF</p>
    </div>
</body>
<script>
    // map objects from existing html
    const tempValue = document.querySelector("#tempValue");
    const tempInput = document.querySelector("#tempSlider");
    // initially sets the value
    tempValue.textContent = tempInput.value;
    tempValue.textContent = parseFloat(tempInput.value).toFixed(1);
    tempInput.addEventListener("input", (event) => {
        tempValue.textContent = parseFloat(event.target.value).toFixed(1);
    });
    const threshValue = document.querySelector("#threshValue");
    const threshInput = document.querySelector("#threshSlider");
    threshValue.textContent = parseFloat(threshInput.value).toFixed(2);
    threshInput.addEventListener("input", (event) => {
        threshValue.textContent = parseFloat(event.target.value).toFixed(2);
    });
</script>

</html>